<section id="main_money" class="main_money">
    <div class="main_money__in center_block">
        <div class="main_money__item">
            <div class="main_money__l-side">
                <div class="main_money__title">Как получить деньги?</div>
                <button class="main_money__btn" v-if="sizes.window >= 1023" data-modal-id="3">Оформить займ</button>
            </div>
            <div class="main_money__r-side">
                <div class="main_money__blocks">
                    <div class="main_money__block">
                        <div class="main_money__number">Шаг 1</div>
                        <div class="main_money__tit">Заполните простую анкету</div>
                        <div class="main_money__txt">Чтобы мы могли найти подходящие предложения, вам нужен только паспорт</div>
                        <div class="main_money__img">
                            <svg width="267" height="216" viewBox="0 0 267 216" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect class="animated-rect" width="130" height="32" rx="10" fill="#E4ECFF"/>
                                <rect class="animated-rect" y="40" width="267" height="32" rx="10" fill="#E4ECFF"/>
                                <rect class="animated-rect" y="80" width="267" height="32" rx="10" fill="#E4ECFF"/>
                                <rect class="animated-rect" y="120" width="267" height="32" rx="10" fill="#E4ECFF"/>
                                <rect class="animated-rect" y="176" width="140" height="40" rx="10" fill="url(#paint0_linear_52_10420)"/>
                                <defs>
                                <linearGradient id="paint0_linear_52_10420" x1="1.21133e-07" y1="195.661" x2="140" y2="195.661" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#c2a95b"/>
                                <stop offset="1" stop-color="#0085FF"/>
                                </linearGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <div class="main_money__block">
                        <div class="main_money__number">Шаг 2</div>
                        <div class="main_money__tit">Выберите предложение</div>
                        <div class="main_money__txt">Мы подберем займы на основе вашего запроса</div>
                        <div class="main_money__img">
                            <svg width="267" height="244" viewBox="0 0 267 244" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect class="animated-rect" x="0.5" y="0.5" width="266" height="75" rx="11.5" stroke="#E4E9F1"/>
                                <rect class="animated-rect" x="12" y="13" width="50" height="50" rx="10" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="74" y="12" width="80" height="20" rx="8" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="74" y="44" width="180" height="20" rx="8" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="0.5" y="84.5" width="266" height="75" rx="11.5" stroke="#E4E9F1"/>
                                <rect class="animated-rect" x="12" y="97" width="50" height="50" rx="10" fill="#E4ECFF"/>
                                <path d="M42.1336 120.054L42.1336 120.054L42.1395 120.048C42.6136 119.557 42.6221 118.775 42.1336 118.286C41.6483 117.801 40.8517 117.801 40.3664 118.286L35.58 123.073L33.6336 121.126C33.1483 120.641 32.3517 120.641 31.8664 121.126C31.3812 121.612 31.3812 122.408 31.8664 122.894L34.6964 125.724C34.9291 125.956 35.2459 126.09 35.58 126.09C35.9141 126.09 36.2309 125.956 36.4636 125.724L42.1336 120.054ZM27.5 122C27.5 116.766 31.7661 112.5 37 112.5C42.2339 112.5 46.5 116.766 46.5 122C46.5 127.234 42.2339 131.5 37 131.5C31.7661 131.5 27.5 127.234 27.5 122Z" fill="url(#paint0_linear_52_10436)" stroke="#8277EC"/>
                                <rect class="animated-rect" x="74" y="96" width="80" height="20" rx="8" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="74" y="128" width="180" height="20" rx="8" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="0.5" y="168.5" width="266" height="75" rx="11.5" stroke="#E4E9F1"/>
                                <rect class="animated-rect" x="12" y="181" width="50" height="50" rx="10" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="74" y="180" width="80" height="20" rx="8" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="74" y="212" width="180" height="20" rx="8" fill="#E4ECFF"/>
                                <defs>
                                <linearGradient id="paint0_linear_52_10436" x1="27" y1="121.83" x2="47" y2="121.83" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#c2a95b"/>
                                <stop offset="1" stop-color="#0085FF"/>
                                </linearGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <div class="main_money__block">
                        <div class="main_money__number">Шаг 3</div>
                        <div class="main_money__tit">Получите деньги в один клик</div>
                        <div class="main_money__txt">Выберите один или несколько займов и отправьте заявку, чтобы получить деньги</div>
                        <div class="main_money__img">
                            <svg width="267" height="190" viewBox="0 0 267 190" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect class="animated-rect" x="0.5" y="0.5" width="266" height="189" rx="11.5" stroke="#E4E9F1"/>
                                <rect class="animated-rect" x="12" y="12" width="50" height="50" rx="10" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="12" y="74" width="128" height="20" rx="8" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="12" y="106" width="243" height="20" rx="8" fill="#E4ECFF"/>
                                <rect class="animated-rect" x="12" y="138" width="140" height="40" rx="10" fill="url(#paint0_linear_52_10463)"/>
                                <g class="animated-rect" clip-path="url(#clip0_52_10463)">
                                <path d="M125.64 159.661L140.57 172.102C141.269 172.685 140.891 173.821 139.982 173.869L131.268 174.328C130.968 174.344 130.691 174.493 130.514 174.735L125.806 181.154C125.235 181.934 124 181.529 124 180.563V160.429C124 159.581 124.989 159.118 125.64 159.661Z" fill="white" stroke="black"/>
                                <path d="M123.789 143.471C123.295 143.471 122.895 143.863 122.895 144.346V151.346C122.895 151.829 123.295 152.221 123.789 152.221C124.282 152.221 124.682 151.829 124.682 151.346V144.346C124.682 143.863 124.282 143.471 123.789 143.471Z" fill="black"/>
                                <path d="M116.639 157.47H109.488C108.994 157.47 108.594 157.862 108.594 158.345C108.594 158.828 108.994 159.22 109.488 159.22H116.639C117.133 159.22 117.533 158.828 117.533 158.345C117.533 157.862 117.133 157.47 116.639 157.47Z" fill="black"/>
                                <path d="M138.093 157.47H130.941C130.447 157.47 130.047 157.862 130.047 158.345C130.047 158.828 130.447 159.22 130.941 159.22H138.093C138.586 159.22 138.987 158.828 138.987 158.345C138.987 157.862 138.586 157.47 138.093 157.47Z" fill="black"/>
                                <path d="M119.365 152.777L114.307 147.828C113.958 147.487 113.391 147.487 113.043 147.828C112.694 148.169 112.694 148.724 113.043 149.065L118.101 154.014C118.276 154.184 118.505 154.27 118.734 154.27C118.963 154.27 119.191 154.186 119.365 154.014C119.714 153.673 119.714 153.118 119.365 152.777Z" fill="black"/>
                                <path d="M119.365 162.678C119.016 162.337 118.449 162.337 118.101 162.678L113.043 167.628C112.694 167.969 112.694 168.524 113.043 168.865C113.218 169.034 113.447 169.12 113.676 169.12C113.905 169.12 114.133 169.035 114.307 168.863L119.365 163.916C119.714 163.574 119.714 163.02 119.365 162.678Z" fill="black"/>
                                <path d="M134.537 147.828C134.188 147.487 133.621 147.487 133.273 147.828L128.215 152.777C127.866 153.118 127.866 153.673 128.215 154.014C128.39 154.184 128.619 154.27 128.848 154.27C129.076 154.27 129.305 154.186 129.479 154.014L134.537 149.065C134.885 148.724 134.885 148.169 134.537 147.828Z" fill="black"/>
                                </g>
                                <defs>
                                <linearGradient id="paint0_linear_52_10463" x1="12" y1="157.661" x2="152" y2="157.661" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#c2a95b"/>
                                <stop offset="1" stop-color="#0085FF"/>
                                </linearGradient>
                                <clipPath id="clip0_52_10463">
                                <rect width="42" height="42" fill="white" transform="translate(103 141)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <button class="main_money__btn" v-if="sizes.window <= 1023" data-modal-id="3">Оформить займ</button>
        </div>
    </div>
</section>