.main_questions {
  padding-top: vw(44);
  padding-bottom: vw(88);
  @media all and (max-width: 1023px) {
    padding-top: 28px;
    padding-bottom: 56px;
    background-image: unset !important;
  }
  &__in {
    display: flex;
    align-items: center;
  }
  &__l-side {
    width: 100%;
  }
  &__r-side {
    flex: 0 0 vw(500);
    margin-left: vw(152);
    @media all and (max-width: 1023px) {
      flex: none;
      margin-left: 0;
      max-width: 200px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
    }
  }
  &__title {
    color: var(--white);
    font-family: "Gilroy", sans-serif;
    font-weight: 300;
    font-size: vw(40);
    line-height: 120%;
    margin-bottom: vw(24);
    @media all and (max-width: 1023px) {
      margin-bottom: 24px;
      font-size: 32px;
    }
  }
  &__block {
    cursor: pointer;
    overflow: hidden;
    &:not(:last-child) {
      border-bottom: 0.4px solid var(--gray);
    }
    &.isActive {
      box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05);
      .main_questions__answer {
        display: block;
      }
      .main_questions__question {
        color: #c2a95b;
        &:before {
          transform: rotate(90deg);
          background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33203 22.6666L22.6654 9.33331M22.6654 9.33331L9.33203 9.33331M22.6654 9.33331V22.6666' stroke='%23c2a95b' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E")
            50% / 100% no-repeat;
        }
      }
    }
  }
  &__question {
    color: var(--light-gray-2);
    font-family: "Gilroy", sans-serif;
    font-size: vw(20);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    position: relative;
    padding: vw(29);
    padding-right: vw(50);
    padding-left: 0;
    @media all and (max-width: 1023px) {
      font-size: 18px;
      padding: 24px;
      padding-left: 0;
      padding-right: 45px;
    }
    &:before {
      content: "";
      position: absolute;
      right: vw(0);
      top: 50%;
      width: vw(32);
      height: vw(32);
      margin-top: vw(-16);
      background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33203 22.6666L22.6654 9.33331M22.6654 9.33331L9.33203 9.33331M22.6654 9.33331V22.6666' stroke='%23E1E1E1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E")
        50% / 100% no-repeat;
      @media all and (max-width: 1023px) {
        width: 32px;
        height: 32px;
        margin-top: -16px;
        right: 0;
      }
    }
  }
  &__answer {
    color: var(--light-gray-2);
    font-family: "Gilroy", sans-serif, cursive;
    font-size: vw(16);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: vw(29);
    max-width: vw(500);
    display: none;
    * {
      font-family: "Gilroy", sans-serif, cursive;
      font-size: vw(16);
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      @media all and (max-width: 1023px) {
        font-size: 14px;
      }
    }
    @media all and (max-width: 1023px) {
      padding-bottom: 24px;
      padding-left: 0;
      max-width: 100%;
      font-size: 14px;
    }
    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
